//@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet"');

.app__header{
    width: 100%;
    display: flex; 
    flex-flow: row wrap;
    height:  50px;
   // justify-content: space-around;
    padding: 1rem 1rem;
   // border: 1px solid black;
}

/*.app__header-menu{
    flex-basis: calc(25% - 20px);
    border: 1px solid red;
    padding-left: 2rem;
    display: flex;
    align-items: flex-start;
   
   
}*/



.app__header-title{
    //display: inline;
    flex-basis: calc(50% - 10px);
    display: flex;
    align-items: center; 
    justify-content: center;
  
   // border: 1px solid red;
    p{
        font-family: 'Rochester', cursive;
        font-size: 20px; 
        font-weight: 600; 
        color: rgb(245, 164, 14); 
    }
    
} 

.app__header-theme{
    flex-basis: calc(25% - 10px);
   // border: 1px solid red;
}


.app__header-menu {
    flex-basis: calc(25% - 10px);
    width: 25px;
    height: 25px;
    //border-radius: 50%;
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    //background-color: var(--secondary-color);
  
  
    svg {
      width: 20%;
      height: 100%;
      color: #dc658b;
    }
  
    div {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
  
      padding: 1rem;
  
      width: 25%;
      height: 100vh;
      
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      
     // background: url('../../assets/bgWhite.png');
      background-color: var(--white-color);
      background-size: cover;
      background-repeat: repeat;
  
      /* top box shadow */
      box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);
  
      svg {
        width: 35px;
        height: 35px;
        color: var(--secondary-color);
        margin: 0.5rem 1rem;
      }
  
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
  
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
  
        li {
          margin: 1rem;
  
          a {
            color: var(--gray-color);
            text-decoration: none;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
  
            transition: all 0.3s ease-in-out;
  
            &:hover {
              color: var(--secondary-color);
            }
          }
        }
      }
  
    
    }

  }